<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5528071614110529",
        enable_page_level_ads: true
      });
    </script>

    <meta charset="UTF-8">
    <!-- Tell IE to use latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}" />

    {% seo %}
        
    {% feed_meta %}    
    <meta property="og:image" content="http://www.prashantp.org/assets/images/me.jpeg">
    <link rel="stylesheet" type="text/css" href="{{" /static/css/bootstrap.min.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ " /static/css/site.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{" /static/css/monokai_sublime.min.css " | prepend: site.baseurl }}">



    <!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/fav/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/fav/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/assets/fav/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/fav/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/fav/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16.png">
	<link rel="apple-touch-icon" href="/assets/fav/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/fav/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/fav/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/fav/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/fav/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/fav/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/fav/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/fav/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/fav/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/assets/fav/favicon-144.png">
	<meta name="msapplication-config" content="/assets/fav/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

</head>
